<html>


    <body style="font-size: 20px;">
        <div style="background: url(https://raw.githubusercontent.com/lnogueir/psyfy-frontend/master/psyfy/src/assets/main_background.jpg);
                     height:40px; 
                     width: 100%;
                     padding: 20px 20px 33px 20px;
                     
                     ">

        <img src="https://raw.githubusercontent.com/lnogueir/psyfy-frontend/master/psyfy/src/assets/images/psycare_logo.png" 
        style="height: 57px"/>   
        </div>
            <div style="padding-left: 20px">
                <br><br>
                Hello Nichole,
                <br>
                <br>
                Somebody (hopefully you) requested a new password for your
                PsyCare account. No changes where made to your account yet.
                Please visit the link below to make a new password:
                <br>
                <a href="google.com">psycare.com/managecredentials/fhebu31hrf943iofvvfebu994r43ry98reg123890/</a>
                <br>
                
                
                <hr/>
                <i>
                        Best regards, PsyCare Inc.
                </i>
            </div>
    </body>
</html>